@page
@model AiBao.Web.Pages.Admin.Oss.BucketImageModel
@{
    ViewData["Title"] = "图片库";
    var canDel = WorkContext.IsPermit("/admin/sysmgr/deleteuser");
}
<style>
    .table {
        min-width: 1000px;
    }
</style>
<section class="content-header">
    <h1>
        @ViewData["Title"]
        <small>图片库</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/home"><i class="fa fa-dashboard"></i> 主界面</a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box box-info">
        <div class="box-body">
            <form class="form-inline" onsubmit="return false" id="formSearch">
                 
                <button type="submit" class="btn bg-purple"><i class="fa fa-search"></i> 查询</button>
            </form>
        </div>
    </div>
    <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th width="20%">图片</th>
                        <th width="15%">文件名</th>
                        <th width="10%">扩展名</th>
                        <th width="10%">长</th>
                        <th width="10%">宽</th>
                        <th width="20%">创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>账号</th>
                        <th>姓名</th>
                        <th>手机</th>
                        <th>创建时间</th>
                        <th>最新活动时间</th>
                        <th>操作</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

</section>
<!-- page script -->
<script>


    $(function () {
        // "orderable": false
        var table = $('#example1').DataTable({
            language: { url: '/dataTables/chinese.json' },
            serverSide: true,
            processing: true,
            searching: false,
            scrollX: true,
            ajax: {
                url: '/admin/oss/bucketimage?handler=data',
                data: function (d) {
                }
            },
            columns: [
                {
                    "width": '15%',
                    "data": null,
                    render: function (data, type, row) {
                        console.log(row);
                        var html = '<img src="/oss/imagecn'+row.VisitUrl+'!m_fill,w_80xh_60" alt="" />';
                        return html;
                    }
                },
                { data: 'FileName' },
                { data: 'ExtName' },
                { data: 'Width' },
                { data: 'Height' },
                { data: 'CreationTime' },
            ],
            columnDefs: [
            {
                "targets": 6,//操作按钮目标列
                "data": null,
                "render": function (data, type, row) {
                    var id = row.Id;
                    var html = '';
                    if (@Json.Serialize(canDel)) {
                       // html += "<button data-url='/admin/sysmgr/deleteuser?id=" + id + "' class='btn btn-danger btn-xs btnDelete'><i class='fa fa-times'></i> 删除</button>";
                    }
                    return html;
                }
            }],
            "rowCallback": function (row, data) {
                 
                $(row).find('.btnDelete').click(function (e) {
                    e.preventDefault();
                    var _url = $(this).data('url');
                });

            }
        });
        $('#formSearch').submit(function (e) {
            e.preventDefault();
            table.draw();;
        });

         
         
    })
</script>
