@page
@model AiBao.Web.Pages.Admin.ForbiddenModel
@{ 
    ViewData["Title"] = "没有权限";
}
<section class="content-header">
    <h1>
        没有权限
        <small></small>
    </h1> 
</section>
<section class="content">




</section>

